body {
    margin: 0;
    padding: 0;
    background: #010101;
    color: white;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    animation-delay: 1.5s;
}

a {
    text-decoration: none;
}

#container {
    margin: auto;
    width: 100vw;
    height: 100vh;
    user-select: none;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#left-container {
    opacity: 1;
    width: 500px;
    height: 80px;
    position: relative;
    left: 100px;
}

.text-container {
    cursor: pointer;
}

.name-text {
    font-size: 26px;
    margin-bottom: 0px;
}

.role-text {
    font-size: 19px;
    color: gray;
    font-weight: 600;
    margin-bottom: 0px;
}

#tree-link {
    display: none;
    position: absolute;
    top: 450px;
    opacity: 0;
}

.link {
    height: 18px;
    width: 18px;
    float: left;
    margin-right: 15px;
}

i {
    font-size: 18px;
    color: gray;
}

.about-text {
    font-size: 19px;
    color: #E38F0E;
    font-weight: 600;
    margin-bottom: 0px;
}

#right-container {
    position: relative;
    display: block;
    opacity: 0;
    width: auto;
    height: auto;
    /* background: red; */
}

.right-container-item {
    position: relative;
    height: 140px;
    margin: 20px 0;
    width: 400px;
    background: #050505;
    border-radius: 10px;
    text-align: left;
}

.item-header {
    font-size: 19px;
    color: white;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}

.item-description {
    font-size: 11pt;
    width: 80%;
    color: #727272;
    padding-left: 20px;
}

.item-category {
    font-size: 9pt;
    width: 80%;
    color: #404040;
    padding-left: 20px;
    margin-top: 2px;
    text-transform: uppercase;
}

.item-buttons {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.844);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.item-buttons:hover {
    opacity: 1;
}

.item-button-container {
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.item-button {
    width: 120px;
    height: 45px;
    /* border: 2px solid #E38F0E; */
    color: #E38F0E;
    background: #050505;
    border-radius: 5px;
    margin: 15px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    transition: background 0.1s;
}

.item-button:hover {
    background: #E38F0E;
    color: black;
}

@keyframes leftContainerMove {
    from {left: 100px}
    to {left: 0}
}

@keyframes rightContainerMove {
    0% {top: 100px}
    100% {top: 0; opacity: 1}
}

@keyframes linkTreeMove {
    0% {top: 500px}
    100% {top: 450px; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

#preloader {
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 101;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s forwards;
}

#preloader-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1.1s linear 0s infinite;
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(359deg);}
}

@media only screen and (max-width: 600px) {
    body {
        transform: scale(0.75);
        touch-action: none;
    }
    #container {
      flex-direction: column;
    }

    #left-container {
        margin: auto;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
    }

    #right-container {
        top: 0;
    }

    @keyframes leftContainerMove {
        from {top: 50%}
        to {top: 0%}
    }
    
    @keyframes rightContainerMove {
        0% {top: 100px}
        100% {top: 0; opacity: 1}
    }

    #tree-link {
        display: none;
    }
}